<br />

<h1>Hi again!</h1>

<br />

<h4>You've been missed!</h4>

<br /><br />

<form action="/login" method="POST">
  <div class="form-group" >
    <label for="email">Email: </label>
    <input type="email" class="form-control" name="email" id="email" required placeholder="name@mail.com" />
  </div>
  
  <br />
  
  <div class="form-group" >
    <label for="password">Password:</label>
    <input type="password" class="form-control" name="password" id="password" required placeholder="********" />
  </div>

    <br />

    <button class="btn btn-primary" type="submit">Login</button>
  
</form>

 <br /><br />

<span>Don't have an account? <a href="/signup">Register</a></span>


<br /><br />
{{#if errorMessage}}
  <p class="alert alert-danger"><b>{{errorMessage}}</b></p>
{{/if}}