<br />

<h1>Hi again!</h1>

<br />

<h4>Welcome back you've been missed!</h4>

<br /><br />

<form action="/login" method="POST">

  <label>Email: </label>
  <input type="email" name="email" required placeholder="name@mail.com" />

  <br /><br />

  <label>Password:</label>
  <input type="password" name="password" required placeholder="********" />

  <br /><br />

  <button type="submit">Sign in</button>
  |
  <span>Don't have an account? <a href="/signup">Register</a></span>
</form>

<br /><br />
{{#if errorMessage}}
  <p style="color:#FF0000"><b>{{errorMessage}}</b></p>
{{/if}}