<br />

<h1>Sign up to YaPIC</h1>

<br />

<h4>Share your photos and start meeting people! </h4>

<form action="/signup" method="POST">

  <br /><br />

  <label>Username:</label>
  <input type="text" name="username" required />

  <br /><br />

  <label>Email: </label>
  <input type="email" name="email" required placeholder="name@mail.com" />

  <br /><br />

  <label>Password:</label>
  <input type="password" name="password" required placeholder="********" />

  <br /><br />

  <button type="submit">Register</button>
  |
  <span>Already a member? <a href="/login">Sign in</a></span>
</form>
<br /><br />
{{#if errorMessage}}
  <p style="color:#FF0000"><b>{{errorMessage}}</b></p>
{{/if}}