<div class="main-container">
  {{! <h2>Waiting behind the tags...</h2> }}
  <section class="section1">
    <div>
      <h2>What’s yapic?
      </h2>
      <p>yapic is a community that allows you to share your photos and
        interests. If other users have similar tastes to yours, there is a
        match! You can visit their profile and get in touch. Share your photos,
        see interesting people and start chatting, that’s all!</p>
    </div>
    <img src="/images/section1.png" alt="" />
  </section>

  <section class="section2">
    <img src="/images/section2.png" alt="" />
    <div>
      <h2>Let your amazing posts present you nice people
      </h2>
      <p>yapic simplify social networks and put real interaction on top. We aim
        to build meaningful content to boost helathy relations among people.
        Post, match and conect.</p>
    </div>
  </section>

  <section class="section3">
    <div>
      <h2>Giving people the power to build community and bring the world closer
        together!
      </h2>
      <p>ALL ARE WELCOME! We’re committed to fostering a safe and supportive
        community for everyone. Create compelling content that’s distinctly
        yours.</p>
    </div>
    <img src="/images/section3.png" alt="" />
  </section>
</div>