<h1>Create a new post</h1>

<div class="post-container">
<form action="/post/new" method="POST" enctype="multipart/form-data">
    <label><strong>Title:</strong></label>
    <input type="text" name="title" required />

    <label for="inputEmail" class="sr-only">Email address</label>

    <label><strong>Description:</strong></label>
    <textarea type="text" name="description" required></textarea>
  
    <label><strong>Image:</strong></label>
    <input type="file" name="postPhotoUrl" />
  
    <label for="tags">
      <strong>Tags:</strong>
      <select name="tags" id="tags" multiple>
        {{#each enumOptions}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </label>

  <button type="submit">Create</button>

</form>
</div>