<h1>Create a new post</h1>


<form action="/private/rooms/add" method='POST' enctype="multipart/form-data">

  <label>Name:</label>
  <input type="text" name="name" required />

  <label>Description: </label>
  <textarea type="text" name="description" required></textarea>

  <label>Image:</label>
  <input type="file" name="imageUrl"/>

  <button type="submit">Create</button>

</form>