/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --dark-blue: #101e36;
  --white: #ffffff;
  --yellow: rgb(232, 170, 15);
  --main-pink: #f06292;
  --dark-pink: #ba2d65;
  --ligth-pink: #ff94c2;

  --h1-font-size: 3rem;
  --medium-h-font-size: 1.5rem;
  --label-size: 1.3rem;
  --paragraph-size: 1.2rem;

  --small-gap: 1rem;
  --medium-gap: 1.5rem;
  --medium-large-gap: 2rem;
  --large-gap: 4rem;

  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "Lexend Deca", sans-serif;
  font-size: 16px;
  background-color: var(--dark-blue);
  color: var(--white);
}

a:hover {
  color: var(--white);
  text-decoration: none;
}

.btn-primary{
  border: 0.2rem solid var(--ligth-pink);
  color: var(--ligth-pink);
}

.btn-primary:hover {
  background-color: var(--ligth-pink);
  color: var(--dark-blue);
}

span a{
  color: var(--ligth-pink);
}

/* INDEX.hbs PAGE */
/* Navigation bar */
nav {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2rem;
  background: var(--dark-blue);
  margin: 2rem 4rem;
  height: 8%;
}

.yapic-letters {
  height: 200%;
}

.login > * {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--ligth-pink);
  border: 0.2rem solid var(--ligth-pink);
  border-radius: 2rem;
  padding: 1rem;
}

.signup > * {
  display: flex;
  justify-content: center;
  align-items: center;  
  text-align: center;
  background-color: var(--ligth-pink);
  color: var(--dark-blue);
  border-radius: 2rem;
  padding: 1rem;
}

.post-button > * {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--yellow);
  color: var(--dark-blue);
  border-radius: 2rem;
  padding: 1rem;
  margin-right: 12rem;
}

.nav-buttons {
  display: flex;
  gap: var(--medium-gap);
}

#avatar {
  border-radius: 100%;
  height: 40px;
  width: 40px;
}

#profile-img {
  border-radius: 5%;
  width: 200px;
}
/* END OF INDEX.hbs                     */
/* <----------------------------------> */


/* LOGIN.hbs PAGE */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 70vh;
  gap: var(--small-gap);
}

.loginForm{
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  flex-direction: column;
  align-items: center;
}

.loginBtn{
  background-color: var(--ligth-pink);
}
/* END OF LOGIN.hbs                     */
/* <----------------------------------> */


/* SIGNUP.hbs PAGE */
.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 70vh;
  gap: var(--small-gap);
}
.signupForm{
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  flex-direction: column;
  align-items: center;
}

.signupBtn {
  background-color: var(--ligth-pink);
}
/* END OF SIGNUP.hbs                     */
/* <----------------------------------> */


/* POSTNEW.hbs PAGE */
.postnew-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 70vh;
  gap: var(--small-gap);
}

.postnewForm {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  flex-direction: column;
  align-items: center;
  gap: var(--medium-gap);
}

.createBtn {
  background-color: var(--ligth-pink);
  color:var(--dark-blue);
}

.inp {
  text-align: center;
  margin: auto;
}

input[type="file"] {
  width: 10rem;
}

option {
  color: var(--dark-blue)
}

option:focus {
  outline: none !important;
}

textarea {
  color: var(--dark-blue)
}

textarea:focus {
  outline: none !important;
}

input {
  color: var(--dark-blue);
}

input:focus {
  outline: none !important;
}

select:focus{
  outline: none;
}
/* END OF POSTNEW.hbs                     */
/* <----------------------------------> */


/* PROFILE.hbs PAGE */
.editing-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.editing-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  align-content: center;
}

/* END OF PROFILE.hbs                     */
/* <----------------------------------> */


/* HOME PAGE */
.title-cards {
  display: flex;
  justify-content: center;
}

.post-cards {
  margin: 8rem;
  display: grid;
  gap: var(--large-gap);
  grid-auto-rows: 60rem;
  grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
}

.post-cards h1 {
  font-size: var(--medium-h-font-size);
}

.single-card {
  min-height: 30em;
  background-color: var(--dark-blue);
  border-radius: 1em; 
  transition: 0.6s ease;
  box-shadow: 0.3em 0.3em 0.7em rgba(100, 100, 100, 0.5);
}

.single-card:hover {
  transform: scale(1.1);
}

.single-card img {
  width: 100%;
  height: 65%;
  object-fit:cover;
  border-top-left-radius: 0.8em;
  border-top-right-radius: 0.8em;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.div-tags {
  display: flex;
  height: 2%;
}

.label-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-card form {
  height: 5%;
  margin: 5% 0;
}

.card-content h4 {
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
}

.card-content p {
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 0.06rem;
  color: white;
  margin: 1em 0.7em 0 0.7em;
  padding-top: 0;
  text-align: center;
}

.match-scroller {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-auto-columns: 21%;
  gap: var(--medium-large-gap);

  padding: 3rem 1rem 6rem 0;

  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.match-card {
  display: grid;
  grid-template-rows: min-content;
  justify-items: center;
  gap: var(--medium-large-gap);
  padding: 3rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.match-card img{
  height: 20rem;
  border-radius: 50%;
  object-fit: cover;
}

.match-card p {
  text-align: center;
}

.post-description {
  height: 5rem;
  overflow: scroll;
}

/*DELETE BUTTON FOR POSTS */
.btn-delete{
  display: flex;
  align-items: center;
  text-align: center;
  background: none;
  background-color: var(--main-pink);
  color: var(--dark-blue);
  height: 3rem;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

.btn-delete span {
  font-size: 1rem;
}

.single-card .span-tags * {
  background-color: var(--yellow);
  color: var(--dark-blue);
  padding: 0.5rem;
  border-radius: 2rem; 
}

.btn:hover {
  background-color: var(--ligth-pink);
  color: var(--white);
  border: none;
}

/* PROFILE.hbs PAGE */
.match-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: var(--small-gap);
  text-align: center;
}

.match-div p {
  font-size: ;
}

/* END OF PROFILE.hbs                     */
/* <----------------------------------> */

/* FOOTER */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 10rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--dark-blue);
  color: white;
}

footer > div {
  margin: 4rem 8rem 4rem 8rem;
}

footer .fa-icons {
  display: flex;
  gap: var(--large-gap);
  font-size: 2rem;
}

.fa-facebook {
  color: white;
}

.fa-facebook:hover {
  color: var(--ligth-pink);
}

.fa-twitter {
  color: white;
}

.fa-twitter:hover {
  color: var(--ligth-pink);
}

.fa-instagram {
  color: white;
}

.fa-instagram:hover {
  color: var(--ligth-pink);
}

.hr-post {
  border-top: 1px solid black;
}


